@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&display=swap');
$dark: #1D7D43;
$light: #D7FF8A;

body,html{background-color: $dark;}

.container{
    font-family: 'Baloo Paaji 2', cursive;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    & .problem{
        margin-top: 50px;
        background-color: rgba($color: #D7FF8A, $alpha: 0.5);
        & .problem-title{

        }
        & .problem-desc{
            
        }
    }
    
    & main{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .enter-title{
            text-align: center;
        }
        input{
            display: flex;
            width: 100%;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
        }

    }
}