@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&display=swap");
$purple: #e869ff;
$dark: #1e0e20;

body,
html {
  background-color: $dark;
}

.container {
  font-family: "Baloo Paaji 2", cursive;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: $purple;
  & .problem {
    margin-top: 20px;
    & .problem-title {
      margin: 30px;
      margin-bottom: 0px;
    }
    & .problem-desc {
      margin: 30px;
      margin-top: 0px;
      color: white;
    }
    & .ref {
      margin-left: auto;
      color: $dark;
      background-color: $purple;
      padding: 4px 12px;
      margin: 30px;
    }
    & a {
      margin-bottom: 36px; //To scroll
    }
  }

  & main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .enter-title {
      text-align: center;
      color: white;
    }
    & .span {
      color: white;
    }
    input {
      display: flex;
      width: 95%;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      background-color: $dark;
      color: white;
      height: 30px;
      border: 2px solid $purple;
      margin-right: 10px;
      border-radius: 4px;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
    ::placeholder {
      color: white;
    }
    & .btn {
      border-radius: 4px;
      background-color: inherit;
      color: white;
      cursor: pointer;
      font-weight: bold;
      padding: 10px 50px;
      width: 100%;
      margin-top: 10px;
    }
  }
}

@media (max-width: 515px) {
  .enter-title,
  .results {
    font-size: 1.8rem;
  }
}

@media (max-width: 420px) {
  .enter-title,
  .results {
    font-size: 1.6rem;
  }
}

@media (max-width: 350px) {
  .enter-title,
  .results {
    font-size: 1.4rem;
  }
}
